{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-hooks",
    "unicorn",
    "prettier"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "ignorePatterns": ["**/dist/*', '*.md"],
  "rules": {
    "quotes": [2, "single", { "avoidEscape": true }],
    "semi": "error",
    "comma-dangle": "off",
    "no-multiple-empty-lines": "error",
    "no-multi-spaces": "error",
    "@typescript-eslint/comma-dangle": ["error"],
    "@typescript-eslint/comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ]
  }
}
